#mim-issue-table{width:80%;}
#mim-issue-table tr th{ padding-bottom: 25px;padding-right: 38px;padding-top: 5px;text-align: right;vertical-align: top;}
#mim-issue-table tr td{padding-bottom: 25px;vertical-align: top;}
